body {
    background-color: rgb(162, 114, 114);
    font-size: 65%;
    margin: 0;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
ul, li {
    margin: 0%;
    padding: 0%;
    font-size: 100%;
}
ul.nav_bar {
    display: flex;
    list-style: none;
    background-color: rgb(135, 80, 80);
}
ul.nav_bar li {
    flex: 1;
    padding: 1%;
}
ul.nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    font-size: 125%;
    padding: 2%;
    border-radius: 4px;
    background-color: rgb(150, 115, 115);
}
.sign_up {
    background-color: rgb(100, 55, 55);
    width: 100%;
    text-align: center;
    float: left;
    padding-bottom: 1%;
    font-size: 125%;
}
h2 {
    font-size: 285%;
    text-align: center;
    padding-top: 2%;
}
form {
    display: inline;
}
input {
    overflow: visible;
}
td {
    background-color: rgb(75, 40, 35);
    border-style: solid;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.65);
}
figcaption {
    color: aliceblue;
}
h1 {
    text-align: center;
}
footer {
    background-color: rgb(45, 20, 20);
    text-align: center;
    padding: 1%;
    font-size: 125%;
}
footer a {
    color: aliceblue;
}
header {
    padding: 0%;
}
.para {
    font-size: 245%;
}
.about {
    font-size: 285%;
}
.tab {
    padding: 2.5%;
}
main {
    background-color: rgb(100, 55, 55);
}
.con {
    font-size: xx-large;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}
.tac {
    background-color: rgb(60, 35, 25);
}
td a {
    color: aliceblue;
}
.pad {
    padding: 1%;
    font-size: 225%;
}
.im {
    height: 18vh;
    width: 100%;
}
.less {
    height: 26vh;
}
.ab {
    font-size: 215%;
    padding: 1%;
}
.vh {
    height: 16vh;
}
.button {
    border-radius: 6px;
}
.form {
    border-radius: 6px;
}
td {
    border-radius: 6px;
}
table {
    width: 100%;
}
.ap {
    font-size: 145%;
    padding: 2%;
    text-align: center;
}
h1 a {
    color: aliceblue;
}
.form2 {
    border-radius: 6px;
    margin-left: 40%;
}
.fp {
    background-color: aliceblue;
    color: black;
    display: inline;
    font-size: 325%;
}
.forum {
    background-color: black;
    color: black;
}
.fd1 {
    background-color: aliceblue;
    width: 20%;
    padding-left: 1%;
    margin-left: 25%;
    padding-top: 2%;
}
.fd2 {
    background-color: aliceblue;
    width: 20%;
    padding-left: 1%;
    margin-left: 65%;
    padding-top: 2%;
}
.ford {
    padding-top: 5%;
    padding-bottom: 5%;
}
.forp {
    margin-left: -5%;
    font-size: 1%;
    background-color: rgb(100, 55, 55);
    margin-top: 2%;
    padding: 2%;
    visibility: hidden;
    text-align: center;
    border-style: solid;
}
.forp2 {
    margin-left: -5%;
    font-size: 1%;
    background-color: rgb(100, 55, 55);
    margin-top: 2%;
    padding: 2%;
    visibility: hidden;
    text-align: center;
    border-style: solid;
}
.forum:checked ~ .forp {
    visibility: visible;
    font-size: 195%;
}
.forum:checked ~ .forp2 {
    visibility: visible;
    font-size: 195%;
}
.in {
    height: 0;
}
.viol {
    width: 20%;
}